/* home.component.css */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  height: 100vh; /* Esto asegura que las tarjetas estén centradas verticalmente */
  padding-top: 20px;
  background: linear-gradient(180deg, #011640, #030F26);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px; /* Puedes ajustar este valor según lo que consideres un tamaño adecuado */
  height: 300px; /* Ajusta este valor también si lo necesitas */
  background-color: #80b8c8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card img {
  width: 160px; /* Tamaño adecuado para los iconos */
  height: 160px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.2rem;
  color: #030F26

  ;
}

.card:hover {
  transform: scale(1.05); /* Hace que la tarjeta se agrande ligeramente al pasar el ratón */
}