/* home.component.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #011640;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  height: 50vh; /* Esto asegura que las tarjetas estén centradas verticalmente */
  padding-top: 10px;
}

.welcome-message {
  text-align: center;
  margin-top: 30px; /* Un poco más de espacio entre el header y el mensaje */
  font-size: 2rem; /* Aumenta el tamaño de la fuente */
  color: #ffffff; /* Blanco para el texto */
  font-family: 'Arial', sans-serif; /* O cualquier fuente estilizada que prefieras */
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6); /* Sombra para hacer que el texto resalte */
  letter-spacing: 2px; /* Aumenta el espacio entre las letras para que se vea más elegante */
  padding: 20px; /* Añadir padding para que el texto no esté pegado al borde */
  background: linear-gradient(45deg, #011640, #507e9c, #011640); /* Fondo con un degradado bonito */
  border-radius: 10px; /* Bordes redondeados para hacerlo más suave */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra que da profundidad */
  animation: fadeIn 5s ease-out; /* Animación para que aparezca con un efecto */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px; /* Puedes ajustar este valor según lo que consideres un tamaño adecuado */
  height: 300px; /* Ajusta este valor también si lo necesitas */
  background-color: #80b8c8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card img {
  width: 160px; /* Tamaño adecuado para los iconos */
  height: 160px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.2rem;
  color: #030F26

  ;
}

.card:hover {
  transform: scale(1.05); /* Hace que la tarjeta se agrande ligeramente al pasar el ratón */
}