<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
  <app-header></app-header>

  <div class="welcome-message">
    <h2>🌍Bienvenido/a a RouteVision✈️</h2>
  </div>


  <div class="card-container">
    <div class="card" routerLink="/rutas">
      <img src="../../../assets/icons/route.svg" alt="Rutas Icon">

      <h3><strong>Rutas</strong></h3>
    </div>

    <div class="card" routerLink="/vehiculos">
      <img src="../../../assets/icons/steering-wheel.svg" alt="Vehículos Icon">

      <h3><strong>Vehículos</strong></h3>
    </div>

    <div class="card" routerLink="/lugares">
      <img src="../../../assets/icons/marker.svg" alt="Lugares Icon">
      
      <h3><strong>Lugares</strong></h3>
    </div>
  </div>
</body>
</html>