<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consultar Vehículos</title>
  <link rel="stylesheet" href="consultar.component.css">
</head>
<body class="body">
  <!-- Cabecera de la aplicación -->
  <app-header></app-header>

  <!-- Título de la página -->
  <h1 [style.color]="'white'">Tu lista de vehículos</h1>

  <!-- Contenedor de la tabla con los vehículos -->
  <div class="mat-elevation-z8" id="table-container">
    <!-- Tabla que muestra los datos de los vehículos -->
    <table mat-table [dataSource]="vehiculos" [style.background]="'#819496'">
      
      <!-- Columna para la matricula del vehículo -->
      <ng-container matColumnDef="matricula">
        <th mat-header-cell *matHeaderCellDef [style.backgroundColor]="'#4b5563'" [style.color]="'white'" [style.text-align]="'center'">Matricula</th>
        <td mat-cell *matCellDef="let vehiculo" [style.backgroundColor]="'white'" [style.color]="'#2f3d46'" [style.text-align]="'center'"> {{vehiculo.matricula}} </td>
      </ng-container>
      
      <!-- Columna para la marca del vehículo -->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef [style.backgroundColor]="'#4b5563'" [style.color]="'white'" [style.text-align]="'center'">Marca</th>
        <td mat-cell *matCellDef="let vehiculo" [style.backgroundColor]="'white'" [style.color]="'#2f3d46'" [style.text-align]="'center'"> {{vehiculo.marca}} </td>
      </ng-container>
  
      <!-- Columna para el modelo del vehículo -->
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef [style.backgroundColor]="'#4b5563'" [style.color]="'white'" [style.text-align]="'center'"> Modelo </th>
        <td mat-cell *matCellDef="let vehiculo" [style.backgroundColor]="'white'" [style.color]="'#2f3d46'" [style.text-align]="'center'"> {{ vehiculo.modelo }} </td>
      </ng-container>
  
      <!-- Columna para el año de fabricación del vehículo -->
      <ng-container matColumnDef="ano_fabricacion">
        <th mat-header-cell *matHeaderCellDef [style.backgroundColor]="'#4b5563'" [style.color]="'white'" [style.text-align]="'center'"> Año_fabricacion </th>
        <td mat-cell *matCellDef="let vehiculo" [style.backgroundColor]="'white'" [style.color]="'#2f3d46'" [style.text-align]="'center'"> {{ vehiculo.ano_fabricacion }} </td>
      </ng-container>
  
      <!-- Columna para el consumo del vehículo -->
      <ng-container matColumnDef="consumo">
        <th mat-header-cell *matHeaderCellDef [style.backgroundColor]="'#4b5563'" [style.color]="'white'" [style.text-align]="'center'"> Consumo </th>
        <td mat-cell *matCellDef="let vehiculo" [style.backgroundColor]="'white'" [style.color]="'#2f3d46'" [style.text-align]="'center'"> {{ vehiculo.consumo }} </td>
      </ng-container>
  
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef [style.backgroundColor]="'#4b5563'" [style.color]="'white'" [style.text-align]="'center'"> Tipo </th>
        <td mat-cell *matCellDef="let vehiculo" [style.backgroundColor]="'white'" [style.color]="'#2f3d46'" [style.text-align]="'center'"> {{ vehiculo.tipo }} </td>
      </ng-container>
  
      <ng-container matColumnDef="favorito">
        <th mat-header-cell *matHeaderCellDef [style.backgroundColor]="'#4b5563'" [style.color]="'white'" [style.text-align]="'center'"> Favorito </th>
        <td mat-cell *matCellDef="let vehiculo" [style.backgroundColor]="'white'" [style.color]="'#2f3d46'" [style.text-align]="'center'">
          <button mat-icon-button (click)="marcarFavorito(vehiculo)">
            <mat-icon [style.color]="vehiculo.favorito ? 'gold' : 'gray'">
              star
            </mat-icon>
          </button>
        </td>
      </ng-container>
  
      <!-- Columna con un botón para editar el vehículo -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef [style.backgroundColor]="'#4b5563'" [style.color]="'white'" [style.text-align]="'center'"></th>
        <td mat-cell *matCellDef="let vehiculo" [style.backgroundColor]="'white'" [style.color]="'#2f3d46'" [style.text-align]="'center'">
          <button mat-icon-button color="'#f25858#'" class="edit-button" [routerLink]="['/vehiculos/edit/' + vehiculo.matricula]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <!-- Columna con un botón para eliminar el vehículo -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef [style.backgroundColor]="'#4b5563'" [style.color]="'white'" [style.text-align]="'center'"></th>
        <td mat-cell *matCellDef="let vehiculo" [style.backgroundColor]="'white'" [style.color]="'#2f3d46'" [style.text-align]="'center'">
          <button mat-icon-button color="'#00d8ff'" class="delete-button" (click)="eliminarVehiculo(vehiculo)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      
      <!-- Definición de las filas y columnas de la tabla -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [style.color]="'white'"></tr>
    </table>
    
    <!-- Componente de paginación -->
    <mat-paginator [style.background]="'#c3c7ce'" [pageSize]="5" [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="currentPage">
    </mat-paginator>
  </div>

   <!-- Botón para navegar a la página de añadir un nuevo vehículo -->
  <button class="add-button" routerLink="/vehiculos/new">
    <span class="add-icon">+</span>
    Añadir Vehículo
  </button>
  
</body>
</html>
