.body{
    background: linear-gradient(180deg, #011640, #030F26);
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.delete-button {
    background-color: transparent;
    color: #ff4081;
    border: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: rgba(255, 64, 129, 0.1);
  }

  .add-button {
    background-color: #025E73;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px auto;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-button:hover {
    background-color: #4a6cd9;
  }
  
  .add-icon {
    font-size: 20px;
    margin-right: 8px;
  }

  #table-container {
    margin: 20px auto;
    width: 90%;
    max-width: 1400px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
  }
  