.body {
  background-color: #030F26;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.add-button {
  background-color: #025E73;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px auto;
  display: block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.add-button .add-icon {
  font-weight: bold;
  margin-right: 5px;
}

.add-button:hover {
  background-color: #038A99;
}

#table-container {
  margin: 20px auto;
  width: 90%;
  max-width: 1400px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px;
}

.delete-button {
  color: white; /* Color del icono */
  background-color: #f25858; /* Color de fondo del botón */
  border: none; /* Sin borde */
  width: 40px; /* Establece el ancho */
  height: 40px; /* Establece la altura */
  border-radius: 50%; /* Hace el botón redondo */
  padding: 0; /* Elimina el relleno para mantener el icono centrado */
  display: flex; /* Permite la alineación flexible */
  justify-content: center; /* Centra el icono horizontalmente */
  align-items: center; /* Centra el icono verticalmente */
  cursor: pointer; /* Muestra el cursor en forma de mano al pasar el ratón */
}

.delete-button:hover {
  background-color: #b84141;
}

.favorite-button {
  background-color: transparent; /* Sin fondo */
  border: none; /* Elimina cualquier borde */
  padding: 0; /* Elimina el relleno extra */
  display: inline-flex; /* Para alinear el icono de manera correcta */
  justify-content: center; /* Asegura que el ícono esté centrado */
  align-items: center; /* Asegura que el ícono esté centrado */
  cursor: pointer; /* Muestra el cursor de mano al pasar por encima */
}

mat-icon {
  font-size: 24px; /* Tamaño adecuado para el icono de la estrella */
}

.favorite-button:hover mat-icon {
  color: gold; /* Cambia el color de la estrella al pasar el ratón si está activada */
}
