<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tus lugares de interés</title>
  <link rel="stylesheet" href="place.component.css">
</head>
<body class="body">
  <app-header></app-header>
  <h1 [style.color]="'white'">Tus lugares de interés</h1>
  <div class="mat-elevation-z8" id="table-container">
    <table mat-table [dataSource]="dataSource" [style.background]="'linear-gradient(180deg, #011640, #030F26)'">
      <!-- Position Column -->
      <ng-container matColumnDef="toponimo">
        <th mat-header-cell *matHeaderCellDef [style.color]="'white'">Toponimo</th>
        <td mat-cell *matCellDef="let place" [style.color]="'white'"> {{place.toponimo}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="coordenadas">
        <th mat-header-cell *matHeaderCellDef [style.color]="'white'"> Coordenadas </th>
        <td mat-cell *matCellDef="let place" [style.color]="'white'"> {{place.coordenadas}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef [style.color]="'white'"> Borrar </th>
        <td mat-cell *matCellDef="let place" [style.color]="'white'">
            <button mat-raised-button color="warn" (click)="onDelete(place)">Delete</button>
        </td>
    </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [style.color]="'white'"></tr>
    </table>
  <mat-paginator [style.background]="'#025E73'" [pageSize]="20" [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="currentPage">
  </mat-paginator>
  </div>
  <button class="add-button" routerLink="/lugares/new">Añadir Lugar</button>
</body>
</html>