<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tus Rutas</title>
  <link rel="stylesheet" href="route.component.css">
</head>
<body class="body">
  <app-header></app-header>
  <h1 [style.color]="'white'">Tus rutas</h1>
  <button class="add-button" routerLink="/rutas/new">
    <span class="add-icon">+</span>
    Añadir Ruta
  </button>
  <div class="mat-elevation-z8" id="table-container">
    <table mat-table [dataSource]="dataSource" [style.background]="'linear-gradient(180deg, #011640, #030F26)'">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef [style.color]="'white'">Nombre</th>
        <td mat-cell *matCellDef="let ruta" [style.color]="'white'"> {{ruta.nombre}} </td>
      </ng-container>
  
      <ng-container matColumnDef="origen">
        <th mat-header-cell *matHeaderCellDef [style.color]="'white'"> Origen </th>
        <td mat-cell *matCellDef="let ruta" [style.color]="'white'"> {{ruta.origen}} </td>
      </ng-container>

      <ng-container matColumnDef="destino">
        <th mat-header-cell *matHeaderCellDef [style.color]="'white'">Destino</th>
        <td mat-cell *matCellDef="let ruta" [style.color]="'white'"> {{ruta.destino}} </td>
      </ng-container>

      <ng-container matColumnDef="option">
        <th mat-header-cell *matHeaderCellDef [style.color]="'white'">Modo</th>
        <td mat-cell *matCellDef="let ruta" [style.color]="'white'"> {{ruta.option}} </td>
      </ng-container>

      <ng-container matColumnDef="movilidad">
        <th mat-header-cell *matHeaderCellDef [style.color]="'white'">Movilidad</th>
        <td mat-cell *matCellDef="let ruta" [style.color]="'white'"> {{ruta.movilidad}} </td>
      </ng-container>

      <ng-container matColumnDef="kilometros">
        <th mat-header-cell *matHeaderCellDef [style.color]="'white'">Kilometros</th>
        <td mat-cell *matCellDef="let ruta" [style.color]="'white'"> {{ruta.kilometros}} </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef [style.color]="'white'">Duración</th>
        <td mat-cell *matCellDef="let ruta" [style.color]="'white'"> {{ruta.duration}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef [style.color]="'white'"></th>
        <td mat-cell *matCellDef="let ruta" [style.color]="'white'">
          <button mat-icon-button color="warn" class="delete-button" (click)="onDelete(ruta)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
    </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [style.color]="'white'"></tr>
    </table>
  <mat-paginator [style.background]="'#025E73'" [pageSize]="5" [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="currentPage">
  </mat-paginator>
  </div>
</body>
</html>