<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="sign-in.component.css">
</head>
<body>
    <div class="signup-container">
        <h2>Inicio de sesión.</h2>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="email" name="email" placeholder="Escribe tu correo" formControlName="email" />
                <!--PARA EL VALIDADOR: (vacío y mal puesto el mail)-->
                @if (isRequired('email')) {
                    <small class="text-red"> Este campo es requerido.</small>
                }
                @if (isEmailIncorrect()){
                    <small class="text-red"> El email debe ser válido.</small> 
                }
            </div>
            <div class="form-group"> 
                <label for="contraseña">Contraseña</label>
                <input type="password" id="contraseña" name="contraseña" placeholder="Escribe tu contraseña" formControlName="contraseña" />
                <!--PARA EL VALIDADOR:-->
                @if (isRequired('contraseña')) {
                    <small class="text-red"> Este campo es requerido.</small>
                }
            </div>
            <button type="submit" class="btn">Acceder a RouteVision</button>
        </form>
        <div class="signup-footer">
            <p>¿Aún no tienes una cuenta? <a routerLink="/auth/sign-up">Sign up</a></p>
            <button class="btn-secondary" routerLink="/default">Volver a la página principal</button>
        </div>
    </div>
</body>
</html>