<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="profile.component.css">
</head>
<body>
  <app-header></app-header>
  <div class="container">
    <div class="input-container" style="margin-left: 20px;">
      <h2>Mi perfil</h2>

      <label for="nombre">Nombre:</label>
      <input id="nombre" type="text" [(ngModel)]="nombre" readonly />
      
      <label for="apellidos">Apellidos:</label>
      <input id="apellidos" type="text" [(ngModel)]="apellidos"readonly />
      
      <label for="email">Email:</label>
      <input id="email" type="text" [(ngModel)]="email"readonly />
      
      <label for="user">Nombre Usuario</label>
      <input id="user" type="string" [(ngModel)]="user" readonly />
      
      @if(preferencia1 != undefined){
        <p><b>Opción seleccionada:</b> {{ preferencia1 }}</p>
      }

      @if(preferencia1 == undefined){
        <label for="pref1">Preferencia 1</label>
        <select id="pref1" [(ngModel)]="preferencia1">
          <option style="display:none"></option>
          <option value="driving-car">Vehiculo</option>
          <option value="cycling-regular">Bicicleta</option>
          <option value="foot-walking">A pie</option>
        </select>
      }

      @if(preferencia2 != undefined){
        <p><b>Movilidad seleccionada:</b> {{ preferencia2 }}</p>
      }

      @if(preferencia2 == undefined){
        <label for="pref2">Preferencia 2</label>
        <select id="pref2" [(ngModel)]="preferencia2">
          <option style="display:none"></option>
          <option value="fastest">Rapida</option>
          <option value="shortest">Corta</option>
          <option value="recommended">Recomendada</option>
          <option value="porDefecto">Por Defecto</option>
        </select>
      }

      <button  class="btn-success" (click)="guardarAjustes(preferencia1, preferencia2)">Guardar Ajustes</button>
      <button class="btn-secondary back-button" routerLink="/home">Volver</button>
    </div>
  </div>
</body>
</html>